# Dependencies
node_modules/

# macOS
.DS_Store

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Logs
*.log

# Environment variables
.env
.env.local

# Temporary files
*.tmp
*~

# Build output
dist/
build/